// Overrides
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

a 

{
  transition: all 200ms ease;
}

.button,
.input,
.pagination-ellipsis,
.pagination-link,
.pagination-next,
.pagination-previous,
.select,
.select select,
.textarea,
.control.has-icons-left .icon,
.control.has-icons-right .icon {
  height: 2.273em;
}

.select select {
  height: 2.5em;
}

.box {
  box-shadow: 0 0 1px $grey-light;
}

.button {
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 50px;

  &.is-small {
    border-radius: 40px;
    font-size: 0.85rem;
  }
}

.button {
  transition: all 200ms ease;

  &.is-active,
  &.is-focused,
  &:active,
  &:focus {
    box-shadow: 0 0 0 2px rgba($button-active-border-color, 0.3);
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      &.is-active,
      &.is-focused,
      &:active,
      &:focus {
        box-shadow: 0 0 0 2px rgba($color, 0.3);
      }
    }
  }
}

blockquote {
  font-style: italic;
}

.input,
.textarea {
  transition: all 200ms ease;
  box-shadow: none;
}

.notification {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      a:not(.button) {
        color: $color-invert;
        text-decoration: underline;
      }
    }
  }
}

.nav {
  min-height: 5rem;
  border: 1px solid $grey-lighter;
}

.navbar {
  // border: 1px solid $border;
  height: 5px;
}

.nav-toggle {
  width: 5rem;
  height: 5rem;
}

// .hero {
//   .nav {
//     border: none;
//     box-shadow: 0 1px 0 rgba($border, 0.5);
//   }
// }

/////////////////////
// Project Feed /////
/////////////////////

.content p {
 padding-right: 40px
}

.project-box {
  padding: 10px;
}

.spacer {
  height:20px;
}

.trending .trend-hashtag {
  padding-bottom: 8px;
}

// .card-content {
//   padding: 0px;
//   height: 140px;
// }
.card-avatar {
background-color: #fff;
border-radius: 6px;
display: inline-block !important;
float: left;
margin: 10px 5px 0 8px;
max-width: 100%;
padding: 1px;
vertical-align: bottom;
}
.card-avatar-img {
border: 2px solid #fff;
border-radius: 7px;
box-sizing: border-box;
color: #fff;
height: 72px;
width: 72px;
}
.card-user {
  padding: 15px 0 0;
}
.card-user-name{
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}
.card-user-name a{
  color: inherit !important;
}
.card-stats {
  margin-left: 11px;
  padding: 10px 0;
}
.card-stats-list {
  box-sizing: border-box;
  display: table;
  margin: 0;
  min-width: 100%;
  padding: 0;
  table-layout: auto;
}
ul.card-stats-list {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.card-stats-item {
  display: table-cell;
  padding: 0;
  vertical-align: top;
}
.card-stats-item a:hover {
  text-decoration: none;
}
.card-stats-val {
  display: block;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.15s ease-in-out 0s;
}
.card-stats-key {
  color: #8899a6;
  font-size: 10px;
  letter-spacing: 0.02em;
  overflow: hidden;
  text-transform: uppercase;
  transition: color 0.15s ease-in-out 0s;
}

/////////////////////
// Project Profile //
/////////////////////

.container.profile {
  // margin-top:50px;
}
.profile-heading {
  margin: 20px 0;
  padding-bottom: 30px;
}
.profile-heading .name {
  // border-right: 1px solid #f1f1f1;
  margin:-30px 0;
  padding: 40px 30px 0 30px;
}
.profile-heading .followers, .profile-heading .following {
  border-right: 1px solid #f1f1f1;
  margin:-30px 0;
  padding: 70px 30px;
}
.profile-heading .skills {
  margin:-30px 0;
  padding: 70px 30px;
}
.profile-heading .stat-key {
  font-size: 20px;
  font-weight: 200;
}
.profile-heading .stat-skills {
  font-size: 20px;
  font-weight: bold;
}
.profile-options {
  background-color: #f1f1f1;
  margin:-20px 0 20px 0;
}
.profile-options .link a {
  padding:18px;
  font-size: 18px;
}
.profile-options .link .icon {
  font-size: 16px;
  padding-top:2px;
}
.tagline {
  padding:20px 0;
  font-size: 16px;
  line-height: 1.4;
}
.avatar {
  float: right;
}
.left-bar {
  float: left;
}
.avatar img {
  // border-radius: 200px;
}

/////////////////////
// Navbar       /////
/////////////////////


.navbar-brand {
  padding-left: 100px;
}

.nav-buttons {
  padding-right: 100px;
}

/////////////////////
//     Home        //
/////////////////////
.header-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.89)),url('img/andysAdds/concertLove.jpg');
  background-size: cover;
  background-position: 50%;
  position: relative;
  background-attachment: fixed;
}

.header-content{
  padding-top: 350px;

}

.image-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -0.5rem
}

@media screen and (min-width: 769px) {
  .image-list {
      -ms-flex-pack: justify;
      justify-content: space-between
  }
}

.image-list .image {
  display: inline-block;
  padding: 0.5rem;
  line-height: 1;
  transition: opacity 100ms ease-in-out
}

.image-list .image:hover {
  opacity: 0.75
}

.image-list.is-small img {
  max-height: 40px;
  max-width: 100px
}

@media screen and (min-width: 769px) {
  .image-list.is-small img {
      max-height: 60px;
      max-width: 140px
  }
}

.image-list img {
  max-width: 200px;
  max-height: 120px;
  width: auto
}

 .image-section {
  background-color: #F7F7F7
 }

/////////////////////////
////  Home Additions  ///
/////////////////////////

.section,
.app-footer {
    position: relative;
    padding: 3rem 1.5rem;
    background-color: #fff
}

@media screen and (min-width: 769px) {
    .section,
    .app-footer {
        padding-top: 5rem;
        padding-bottom: 5rem
    }
}

.section.is-tight,
.is-tight.app-footer {
    padding-top: 2rem;
    padding-bottom: 2rem
}

@media screen and (min-width: 769px) {
    .section.is-tight,
    .is-tight.app-footer {
        padding-top: 3rem;
        padding-bottom: 3rem
    }
}

.section.is-ultra-tight,
.is-ultra-tight.app-footer {
    padding-top: 1rem;
    padding-bottom: 1rem
}

@media screen and (min-width: 769px) {
    .section.is-ultra-tight,
    .is-ultra-tight.app-footer {
        padding-top: 2rem;
        padding-bottom: 2rem
    }
}

.section.is-alternative,
.is-alternative.app-footer {
    background-color: #F7F7F7
}

.section.is-alternative .title,
.is-alternative.app-footer .title {
    color: #0AAFC4
}

.section-header {
    text-align: center
}

@media screen and (min-width: 769px) {
    .section-header.is-left-aligned {
        text-align: left
    }
    .section-header.is-left-aligned .title,
    .section-header.is-left-aligned .subtitle {
        margin-left: 0;
        max-width: none
    }
}

.section-header+.section-body {
    margin-top: 2rem
}

.section-header .title,
.section-header .subtitle {
    max-width: 660px;
    margin-left: auto;
    margin-right: auto
}

.section-header .subtitle {
    line-height: 1.5
}

.section-header .subtitle p+p {
    margin-top: 0.5rem
}

.section-body+.section-footer {
    margin-top: 2rem
}

.section-footer {
    text-align: center
}

.section.is-intro .section-header,
.is-intro.app-footer .section-header {
    max-width: 740px;
    text-align: left
}

@media screen and (min-width: 769px) {
    .section.is-intro .section-header,
    .is-intro.app-footer .section-header {
        -ms-flex-positive: 1;
        flex-grow: 1
    }
}

.section.is-intro .title,
.is-intro.app-footer .title {
    font-size: 2rem;
    margin-left: 0
}

@media screen and (min-width: 769px) {
    .section.is-intro .title,
    .is-intro.app-footer .title {
        font-size: 2.875rem
    }
}

.section.is-intro .subtitle,
.is-intro.app-footer .subtitle {
    line-height: 1.5
}

.section.is-workflow .box,
.is-workflow.app-footer .box {
    padding-left: 0;
    padding-right: 0
}

.section.is-workflow .box-body,
.is-workflow.app-footer .box-body {
    padding-left: 2rem;
    padding-right: 2rem
}

.section.is-workflow .box-title,
.is-workflow.app-footer .box-title {
    font-size: 1.625rem
}

.section.is-workflow .box-header+.box-body,
.is-workflow.app-footer .box-header+.box-body {
    margin-top: 3rem
}

@media screen and (min-width: 769px) {
    .section.is-workflow .column:first-child .box-body,
    .is-workflow.app-footer .column:first-child .box-body {
        border-right: 2px solid whitesmoke
    }
}

.section.is-inquire-for-job,
.is-inquire-for-job.app-footer {
    position: relative;
    background-color: #eee
}

.section.is-inquire-for-job:before,
.is-inquire-for-job.app-footer:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 25%;
    content: "";
    background-color: #0AAFC4
}

@media screen and (min-width: 769px) {
    .section.is-inquire-for-job:before,
    .is-inquire-for-job.app-footer:before {
        bottom: 45%
    }
}

.section.is-inquire-for-job .container,
.is-inquire-for-job.app-footer .container {
    position: static
}

.section.is-inquire-for-job .box,
.is-inquire-for-job.app-footer .box {
    position: relative;
    z-index: 2
}

.section.is-inquire-for-job .artwork img,
.is-inquire-for-job.app-footer .artwork img {
    position: relative;
    z-index: 1
}

@media screen and (min-width: 769px) {
    .section.is-inquire-for-job .artwork img,
    .is-inquire-for-job.app-footer .artwork img {
        position: absolute;
        top: 50%;
        right: 0;
        max-width: 50%;
        transform: translateY(-50%)
    }
}

@media screen and (min-width: 1000px) {
    .section.is-inquire-for-job .artwork img,
    .is-inquire-for-job.app-footer .artwork img {
        max-width: 100%
    }
}

.section.is-inquire-as-employer,
.is-inquire-as-employer.app-footer {
    padding-bottom: 0
}

@media screen and (max-width: 768px) {
    .section.is-inquire-as-employer .column:first-child,
    .is-inquire-as-employer.app-footer .column:first-child {
        -ms-flex-order: 1;
        order: 1
    }
    .section.is-inquire-as-employer .column:last-child,
    .is-inquire-as-employer.app-footer .column:last-child {
        -ms-flex-order: 2;
        order: 2
    }
}

.section.is-inquire-as-employer .artwork,
.is-inquire-as-employer.app-footer .artwork {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: end;
    align-items: flex-end;
    padding-bottom: 0
}

@media screen and (max-width: 768px) {
    .section.is-inquire-as-employer .artwork:first-child img,
    .is-inquire-as-employer.app-footer .artwork:first-child img {
        max-width: 50%
    }
    .section.is-inquire-as-employer .artwork:last-child img,
    .is-inquire-as-employer.app-footer .artwork:last-child img {
        max-width: 70%
    }
}

@media screen and (min-width: 769px) {
    .section.is-inquire-as-employer .box,
    .is-inquire-as-employer.app-footer .box {
        margin-bottom: 5rem
    }
}

.section.is-inquire-as-agency,
.is-inquire-as-agency.app-footer {
    padding-bottom: 0
}

.section.is-inquire-as-agency .container,
.is-inquire-as-agency.app-footer .container {
    position: static
}

.section.is-inquire-as-agency .column:first-child,
.is-inquire-as-agency.app-footer .column:first-child {
    position: relative;
    bottom: -1rem;
    z-index: 1
}

@media screen and (max-width: 768px) {
    .section.is-inquire-as-agency .column:first-child,
    .is-inquire-as-agency.app-footer .column:first-child {
        -ms-flex-order: 1;
        order: 1
    }
}

@media screen and (max-width: 768px) {
    .section.is-inquire-as-agency .column:last-child,
    .is-inquire-as-agency.app-footer .column:last-child {
        display: none
    }
}

@media screen and (min-width: 769px) {
    .section.is-inquire-as-agency .column:last-child,
    .is-inquire-as-agency.app-footer .column:last-child {
        position: absolute;
        right: 0;
        bottom: 0;
        padding-right: 0
    }
}

@media screen and (max-width: 768px) {
    .section.is-inquire-as-agency .column:first-child,
    .is-inquire-as-agency.app-footer .column:first-child {
        -ms-flex-order: 1;
        order: 1
    }
    .section.is-inquire-as-agency .column:last-child,
    .is-inquire-as-agency.app-footer .column:last-child {
        -ms-flex-order: 2;
        order: 2
    }
}

@media screen and (min-width: 769px) {
    .section.is-inquire-as-agency .box,
    .is-inquire-as-agency.app-footer .box {
        margin-bottom: 5rem
    }
}

.section.is-inquire-as-agency .artwork,
.is-inquire-as-agency.app-footer .artwork {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: end;
    align-items: flex-end
}

.box {
    box-shadow: 0 5px 4px 0 rgba(219, 219, 219, 0.5);
    border-radius: 6px;
    background-color: white;
    margin: 0 auto;
    padding: 2rem;
    color: #666;
    transform: translate3d(0, 0, 0);
    transition: 300ms
}

@media screen and (min-width: 769px) {
    .box {
        margin-top: 2rem;
        margin-bottom: 2rem
    }
    .box:not(.is-borderless):hover,
    .box:not(.is-borderless).is-hovered,
    .box:not(.is-borderless):focus,
    .box:not(.is-borderless).is-focused,
    .box:not(.is-borderless):active,
    .box:not(.is-borderless).is-active,
    .box:not(.is-borderless) .is-touched {
        box-shadow: 0 22px 43px rgba(219, 219, 219, 0.5);
        transform: translateY(-4px)
    }
}

.box.has-icon,
.box.is-department {
    margin-top: 5rem
}

.box.is-centered,
.box.is-department {
    text-align: center
}

.box.is-borderless {
    border: none;
    border-radius: 0;
    box-shadow: none
}

.box.is-borderless .box-icon {
    box-shadow: none
}

.box .box-icon {
    width: 84px;
    height: 84px;
    border-radius: 42px;
    margin: -5rem auto 0;
    overflow: hidden;
    box-shadow: 0 5px 5px 0 rgba(219, 219, 219, 0.25)
}

.box .box-icon.is-large {
    width: 110px;
    height: 110px;
    border-radius: 55px
}

.box .box-icon+.box-title {
    margin-top: 1rem
}

.box .box-cover {
    position: relative;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
    line-height: 0
}

.box .box-cover img {
    margin: 0 auto;
    user-drag: none
}

.box .box-title {
    color: #0AAFC4;
    font-size: 1.25rem
}

.box .box-header+.box-body {
    margin-top: 1rem
}

.box .box-body {
    font-size: 1.25rem
}

.box .box-body+.box-footer {
    margin-top: 2rem
}

.box.is-department {
    padding: 1rem 0
}

.box.is-feature {
    max-width: 380px
}

.box.is-imprint {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 340px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
    font-size: 1.25rem
}

.box.is-imprint .box-title {
    font-size: 1.5rem;
    color: #0AAFC4
}

.box.is-imprint .box-body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-pack: center;
    justify-content: center
}

.column:nth-child(1) .box.is-imprint:before {
    position: absolute;
    left: 50%;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/assets/images/svg/blank/pin-yellow-e85fd3c0.svg?1505342685");
    transform: rotate(0deg);
    z-index: 1;
    width: 18px;
    height: 34px;
    top: -16px;
    margin-left: -4px
}

.column:nth-child(2) .box.is-imprint:before {
    position: absolute;
    left: 50%;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/assets/images/svg/blank/pin-blue-3ca5a68f.svg?1505342685");
    transform: rotate(0deg);
    z-index: 1;
    width: 18px;
    height: 34px;
    top: -16px;
    margin-left: -4px
}

.column:nth-child(3) .box.is-imprint:before {
    position: absolute;
    left: 50%;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/assets/images/svg/blank/pin-red-0917ddb3.svg?1505342685");
    transform: rotate(0deg);
    z-index: 1;
    width: 18px;
    height: 34px;
    top: -16px;
    margin-left: -4px
}

.box.is-pricing {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    max-width: 360px;
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 5px 4px 0 rgba(219, 219, 219, 0.5)
}

@media screen and (min-width: 769px) {
    .box.is-pricing {
        box-shadow: -5px 5px 4px rgba(219, 219, 219, 0.5)
    }
}

.box.is-pricing .box-header,
.box.is-pricing .box-footer {
    padding: 0.5rem 1rem
}

.box.is-pricing .box-header {
    min-height: 52px;
    border-bottom: 2px solid #eee
}

.box.is-pricing .box-header img {
    margin-right: 1rem
}

.box.is-pricing .box-footer {
    margin-top: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 2px solid #eee
}

.box.is-pricing .box-body {
    margin-top: 0
}

.box.is-pricing .box-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4a4a4a
}

.box.is-pricing .box-price {
    margin-bottom: 0.75rem;
    font-weight: bold;
    line-height: 1
}

.box.is-pricing .box-price .currency {
    position: relative;
    top: -2px;
    margin-right: 0.25rem;
    font-size: 1.125rem;
    vertical-align: super
}

.box.is-pricing .box-price .figure {
    font-size: 1.875rem
}

.box.is-pricing .box-price .unit {
    position: relative;
    top: -4px;
    margin-left: 0.25rem;
    font-size: 1.125rem;
    vertical-align: sub
}

.box.is-pricing .box-price .asterisk {
    color: #0AAFC4;
    font-size: 1.375rem;
    vertical-align: super
}

.box.is-pricing .item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    min-height: 42px;
    padding: 0.25rem 1.25rem;
    color: #4a4a4a;
    font-size: 1.25rem
}

@media screen and (min-width: 769px) {
    .box.is-pricing .item {
        -ms-flex-pack: center;
        justify-content: center
    }
}

.box.is-pricing .item:not(:last-child) {
    border-bottom: 2px solid #eee
}

.box.is-pricing .item:before {
    display: none;
    width: 16px;
    height: 16px;
    margin-right: 0.5rem;
    content: "";
    vertical-align: -1px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain
}

.box.is-pricing .item.is-caption {
    text-align: left;
    color: #b5b5b5
}

.box.is-pricing .item.is-caption.is-dark {
    color: #4a4a4a
}

@media screen and (min-width: 1000px) {
    .box.is-pricing .item.is-caption {
        -ms-flex-pack: start;
        justify-content: flex-start
    }
}

.box.is-pricing .item.is-caption span {
    font-weight: bold;
    display: block;
    max-width: initial;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.box.is-pricing .item.is-excluded {
    background-color: whitesmoke
}

.box.is-pricing .item.is-excluded:before {
    display: block;
    background-image: url("/assets/images/svg/blank/cross-63f68ccc.svg?1505342685")
}

.box.is-pricing .item.is-included:before {
    display: block;
    background-image: url("/assets/images/svg/blank/checkmark-b7dae1a5.svg?1505342685")
}

.box.is-pricing .item.is-heading {
    background-color: #0AAFC4;
    color: white
}

.box.is-pricing.has-offset {
    margin-top: calc(2rem + 54px)
}

.box.is-signup {
    max-width: 600px;
    padding-left: 3rem;
    padding-right: 3rem
}

.box.is-signup .box-title {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #3B495A
}

.box.is-story {
    max-width: 280px;
    padding: 0
}

@media screen and (min-width: 769px) {
    .box.is-story {
        max-width: 340px
    }
}

.box.is-story .box-cover {
    position: relative;
    padding-bottom: 55.88235%;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.box.is-story .box-body {
    padding: 1rem 1.5rem
}

@media screen and (min-width: 769px) {
    .box.is-story .box-body {
        padding: 1rem 3rem 2rem
    }
}

.box.is-story .box-title {
    margin: 1rem 0;
    font-size: 1.5rem
}

.box.is-story .box-subtitle {
    font-size: 1.375rem
}

.box.is-story .box-label {
    margin-top: 1rem;
    font-size: 1.125rem
}

.box.is-story .box-value {
    margin-top: 0.5rem;
    font-size: 1.25rem;
    font-weight: bold
}

.box.is-story .spacer {
    height: 4px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem
}

.column:nth-child(1) .box.is-story .box-cover {
    background-image: url("/assets/images/stories/people-6316264b.jpg?1505342685")
}

.column:nth-child(1) .box.is-story .box-title,
.column:nth-child(1) .box.is-story .box-subtitle,
.column:nth-child(1) .box.is-story .box-label span,
.column:nth-child(1) .box.is-story .box-value {
    color: #0AAFC4
}

.column:nth-child(1) .box.is-story .spacer {
    background-color: #0AAFC4
}

.column:nth-child(2) .box.is-story .box-cover {
    background-image: url("/assets/images/stories/notes-3614fcca.jpg?1505342685")
}

.column:nth-child(2) .box.is-story .box-title,
.column:nth-child(2) .box.is-story .box-subtitle,
.column:nth-child(2) .box.is-story .box-label span,
.column:nth-child(2) .box.is-story .box-value {
    color: #F3969B
}

.column:nth-child(2) .box.is-story .spacer {
    background-color: #F3969B
}

.column:nth-child(3) .box.is-story .box-cover {
    background-image: url("/assets/images/stories/meeting-0c0b671f.jpg?1505342685")
}

.column:nth-child(3) .box.is-story .box-title,
.column:nth-child(3) .box.is-story .box-subtitle,
.column:nth-child(3) .box.is-story .box-label span,
.column:nth-child(3) .box.is-story .box-value {
    color: #FFBB41
}

.column:nth-child(3) .box.is-story .spacer {
    background-color: #FFBB41
}

.box.is-testimonial {
    max-width: 280px;
    padding: 1.25rem 2rem
}

@media screen and (min-width: 769px) {
    .box.is-testimonial {
        max-width: 340px
    }
}

.box.is-testimonial .spacer {
    height: 4px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem
}

.column:nth-child(1) .box.is-testimonial .spacer {
    background-color: #0AAFC4
}

.column:nth-child(1) .box.is-testimonial .quote-position {
    color: #0AAFC4
}

.column:nth-child(2) .box.is-testimonial .spacer {
    background-color: #FFBB41
}

.column:nth-child(2) .box.is-testimonial .quote-position {
    color: #FFBB41
}

.column:nth-child(3) .box.is-testimonial .spacer {
    background-color: #F3969B
}

.column:nth-child(3) .box.is-testimonial .quote-position {
    color: #F3969B
}

.box.is-variant {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 520px
}

.box.is-variant .box-body {
    -ms-flex-positive: 1;
    flex-grow: 1
}

.box.is-variant .box-title {
    color: #3B495A
}

@media screen and (min-width: 769px) {
    .box.is-variant .box-title {
        font-size: 1.5rem
    }
}

.notification {
    background-color: white
}

@media screen and (min-width: 1000px) {
    .notification {
        font-size: 1.25rem
    }
}

svg {
    max-width: 100%
}

iframe.is-typeform {
    width: 100%;
    min-height: 660px
}
