body {
  height: 100vh;
}

.home-main-container {
  height: 100%;
}

.home-main-image-container {
  background: url("https://mariagbenitez.files.wordpress.com/2015/05/female-hands-holding-red-heart_blue-bg.jpg") center 0px no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

.home-main-image-text-container {
  color: white;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
