<!-- --------------  Hero ----------------- -->
<section class=" hero is-info is-fullheight header-image">
  <div class="hero-body">
    <div class="container header-content">
      <h1 class="title">
        We bring good developers & good causes together
      </h1>
      <h2 class="subtitle">
        Find a cause that lights you up. Get in touch with a nonprofit that needs you.
      </h2>
      <a class="button is-light">See for yourself</a>
    </div>
  </div>
</section>
<!-- --------------  Company Logos----------------- -->
  <section class='section image-section'>
    <div class="container">
      <div class="image-list">
          <div class="image"><a href="https://www.si.edu/"><img alt="Smithsonian" src="/img/andysAdds/smithsonian.png"></a></div>
          <div class="image"><a href="https://www.npr.org/"><img alt="NPR" src="/img/andysAdds/npr_logo.png"></a></div>
          <div class="image"><a href="https://www.NYPL.org/"><img alt="NYPL" src="/img/andysAdds/nypl.png"></a></div>
          <div class="image"><a href="https://www.stjude.org/"><img alt="st jude" src="/img/andysAdds/st-jude.png"></a></div>
          <div class="image"><a href="https://www.teachforamerica.org/"><img alt="Teach for America" src="/img/andysAdds/teachforamerica.png"></a></div>
      </div>
    </div>
  </section>
<!-- --------------  Why  ----------------- -->
  <section class=section>
    <div class=container>
        <header class=section-header>
            <h2 class="title is-spaced is-bold has-tint"> Gustav simplifies your recruitment process </h2>
            <div class=subtitle>
                <p> Just tell us what you're looking for and let our network of recruiting partners do the work. </p>
            </div>
        </header>
        <div class=section-body>
            <div class="columns is-gapless owl-carousel">
                <div class="column is-4">
                    <div class="box is-feature has-icon is-centered is-borderless">
                        <div class=box-header>
                            <div class="box-icon is-large"> <img src="/assets/images/svg/bordered/temporary-staffing-cc9ed041.svg?1505342688" /> </div>
                            <h3 class=box-title> Temporary / Contractor Staffing </h3> </div>
                        <div class=box-body>
                            <p> Got a project? Short term increase? Temp staffing saves you time and money. It gives you added flexibility and raises productivity. </p>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="box is-feature has-icon is-centered is-borderless">
                        <div class=box-header>
                            <div class="box-icon is-large"> <img src="/assets/images/svg/bordered/temp-to-perm-adb28bd4.svg?1505342688" /> </div>
                            <h3 class=box-title> Temp-to-Hire </h3> </div>
                        <div class=box-body>
                            <p> Temp-to-Hire staffing gives you the unique option to evaluate an employee’s performance on-site before making a final hiring decision. </p>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="box is-feature has-icon is-centered is-borderless">
                        <div class=box-header>
                            <div class="box-icon is-large"> <img src="/assets/images/svg/bordered/permanent-staffing-47c33d30.svg?1505342688" /> </div>
                            <h3 class=box-title> Direct Hire </h3> </div>
                        <div class=box-body>
                            <p> Direct Hire gives you access to top-notch, fully-screened and ideally-qualified candidates in every industry. Hire the right people for the job and for your company’s culture. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class=section-footer> <a href="/signup" class="button is-danger is-medium is-wide">Sign up now</a> </footer>
    </div>
</section>
<!-- --------------  Content  ----------------- -->

<section class="section is-alternative">
    <div class=container>
        <header class=section-header>
            <h2 class="title is-spaced is-bold"> How it works </h2>
            <div class=subtitle>
                <p> Our recruiting process is designed to find skilled individuals who can add business value in your organization from day one. </p>
            </div>
        </header>
        <div class=section-body>
            <div class="columns has-equal-heights">
                <div class="column is-4">
                    <div class="box has-icon is-centered">
                        <div class=box-header>
                            <div class="box-icon is-large"> <img src="/assets/images/svg/bordered/megaphone-325ae088.svg?1505342688" /> </div>
                            <h3 class=box-title> 1. Tell us what you need </h3> </div>
                        <div class=box-body>
                            <p> Start by adding your basic job requirements like your ‘must haves’, skills required, location and the price you are willing to pay. And now relax. Our network of staffing agencies will take care of things from here. </p>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="box has-icon is-centered">
                        <div class=box-header>
                            <div class="box-icon is-large"> <img src="/assets/images/svg/bordered/stage-51691701.svg?1505342688" /> </div>
                            <h3 class=box-title> 2. Receive the best talent </h3> </div>
                        <div class=box-body>
                            <p> It won’t be long before we start sending you a selection of profiles of hand-picked candidates who meet your criteria. Track the progress of your search in real-time via the Applicant Tracking System. </p>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="box has-icon is-centered">
                        <div class=box-header>
                            <div class="box-icon is-large"> <img src="/assets/images/svg/bordered/handshake-8bb68029.svg?1505342688" /> </div>
                            <h3 class=box-title> 3. Hire the right fit </h3> </div>
                        <div class=box-body>
                            <p> After you’ve found your perfect candidate, send an offer to the agency. Once they have accepted your offer, you can welcome a new face to your organization. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class=section-footer> <a class="button is-primary is-medium is-wide" href="/inquire-as-recruiter-or-staffing-agency">Sign up now</a> </footer>
    </div>







  <!-- <section>
  <div class="video-column is-mobile">

    <div class="video-container">
      <video autoplay loop>
        <source type="video/mp4" src="./videos/Workaholic.mp4">
      </video>
    <div class="home-overlay">
      <h1 class="video-title">We Specialize in Nonprofit Web Design</h1>
      <h2 class="video-subtitle">High-quality, customized <span class="bold-websites-for-nonprofits"> websites for nonprofits </span> </h2>
      </div>
    </div>

  </div>
</section> -->

  <br>

  <section class="re-position-container">
    <div class="container home-resize-container">
      <div class="column is-mobile">

        <div class="level home-logos-container">
          <span class="home-logos has-text-info">
            <img src="./img/unicef-logo.jpg">
          </span>
          <span class="home-logos has-text-info">
            <img src="./img/piedpiper.jpg">
          </span>
          <span class="home-logos has-text-info">
            <img src="./img/Turnstone_logo.jpg">
          </span>
          <span class="home-logos has-text-info">
            <img src="./img/hooli.jpg">
          </span>
          <span class="home-logos has-text-info">
              <img src="./img/tyler-technology.jpg">
            </span>
        </div>
      </div>
    </div>
  </section>

  <br><br>

  <section class="home-process">
    <div class="container home-resize-container">
      <div class="column is-mobile">
        <div class="columns">

          <div class="column is-half">
            <div class="box">
              <img class="adjust-joinus-img" src="./img/joinus.jpeg">
              <div class="home-pitch-main-container">
                <div class="home-pitch-text">
                  <h3>Come Join Us</h3>
                  <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius accumsan metus, vestibulum
                    mattis nisi hendrerit at. Quisque ultrices sem at venenatis molestie. Vestibulum sodales fringilla massa
                    eu pellentesque. Phasellus fringilla sollicitudin quam, vitae rutrum felis venenatis vel. Ut sed diam
                    ut magna tincidunt rhoncus. Aliquam ut neque a elit aliquam tempor ac sed lacus. Sed aliquet ex eget
                    quam vehicula fermentum.</h4>
                </div>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="box">
              <img class="adjust-joinus-img" src="./img/process.png">
              <div class="home-pitch-main-container">
                <div class="home-pitch-text">
                  <h3>How our Nonprofit Projects Work</h3>
                  <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius accumsan metus, vestibulum
                    mattis nisi hendrerit at. Quisque ultrices sem at venenatis molestie. Vestibulum sodales fringilla massa
                    eu pellentesque. Phasellus fringilla sollicitudin quam, vitae rutrum felis venenatis vel. Ut sed diam
                    ut magna tincidunt rhoncus. Aliquam ut neque a elit aliquam tempor ac sed lacus. Sed aliquet ex eget
                    quam vehicula fermentum.</h4>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <br>

  <div class="home-pitch-text">
    <h3>From a Nonprofit Partner</h3>
  </div>
  <section>
    <div class="container home-resize-container">
      <div class="column is-mobile">
        <div class="columns">

          <div class="column is-three-quarters">
            <div class="box">
              <img class="home-resize-blockquote" src="./img/blockquote.png">
              <h4 class="blockquote-margin">The team at DevGive satisfied all of our requests on time and on budget, resulting in a site far superior in
                every way to our previous one. Additionally, they provided helpful information on related issues, and advised
                on the pros and cons of all of the decisions made along the way.</h4>
            </div>
          </div>

          <div class="column">
            <div class="testimonial-pic-container">
              <img class="home-testimonial-pic" src="./img/steven.jpg">
              <div class="testmonial-name">
                <span class="example-name">Steven Isbell</span>
                <br>
                <span class="example-title">DevMountain CEO</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container home-resize-container">
      <div class="column is-mobile">
        <div class="home-pitch-main-container">
          <div class="home-about-text">
            <h3>About Us</h3>
            <h4><span class="inscrease-about-font-size">Story: </span>
              <br><br>
              <div class="box">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius accumsan metus, vestibulum mattis nisi hendrerit
                at. Quisque ultrices sem at venenatis molestie. Vestibulum sodales fringilla massa eu pellentesque. Phasellus
                fringilla sollicitudin quam, vitae rutrum felis venenatis vel. Ut sed diam ut magna tincidunt rhoncus. Aliquam
                ut neque a elit aliquam tempor ac sed lacus. Sed aliquet ex eget quam vehicula fermentum.</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <br>

  <section class="home-contact">
    <div class="container home-resize-container">
      <div class="team-container">
        <div class="column is-mobile">
          <div class="home-about-text">
            <h4><span class="inscrease-about-font-size">Team:<span>
      </div>
      <div class="column">
        <article class="message is-medium">
          <div class="message-header">
            <p>Contributors: </p>
          </div>
              <div class="box">
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-128x128">
                      <img src="./img/dylan.jpg">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>Dylan Brown</strong>
                        <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                      </p>
                    </div>
                  </div>
                </article>
              </div>
              <div class="box">
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-128x128">
                      <img src="./img/dat.jpg">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>Dat Tran</strong>
                        <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                      </p>
                    </div>
                  </div>
                </article>
              </div>
              <div style="margin-bottom: 1.5rem;" class="box">
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-128x128">
                      <img src="./img/andy.jpg">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>Andy Parker</strong>
                        <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                      </p>
                    </div>
                  </div>
                </article>
              </div>
        </article>
      </div>
    </div>
  </div>
</div>
</section>

<div class="home-pitch-text reset-marginleft-moreinfo">
  <h3>Want More Info?</h3>
</div>
<section>
  <div class="container home-resize-container">
    <div class="column is-mobile">
      <div class="columns">

        <div class="column is-half">
          <div class="box">
            <img class="resize-googlemap" src="./img/googlemap.jpg">
          </div>
        </div>

        <div class="column">
            <div class="box">
            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input class="input" type="text">
              </div>
            </div>
            <div class="field">
              <label class="label">Email</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input is-danger" type="email">
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              <span class="icon is-small is-right">
                  <i class="fa fa-warning"></i>
                </span>
          </div>
        </div>
        <div class="field">
          <label class="label">Message</label>
          <div class="control">
            <textarea class="textarea"></textarea>
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>

    </div>
    </div>
    </div>
  </section>
  <br>