<section class="hero is-primary is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        We Specialize in Nonprofit Web Design
      </h1>
      <h2 class="subtitle">
        High-quality, customized websites for nonprofits
      </h2>
    </div>
  </div>
  <img src="./img/cloud.png">
</section>

<section class="logos-container">
  <span class="icon has-text-info">
  <img src="./img/unicef-logo.jpg">
</span>
  <span class="icon has-text-info">
  <img src="./img/khan-academy.png">
</span>
  <span class="icon has-text-info">
  <img src="./img/Turnstone_logo.jpg">
</span>
  <span class="icon has-text-info">
  <img src="./img/possible-logo.jpeg">
</span>
  <span class="icon has-text-info">
  <img src="./img/cmv-logo.png">
</span>
</section>

<section class="bottom">
<div class="column is-mobile">

</div>
</section>
