<div class="home-main-container">

  <div class="home-main-image-container">
    <div class="home-main-image-text-container">
      <h3 class="home-welcome-to">We Specialize in Nonprofit Web Design</h3>
      <h1 class="home-devgiv-title"><span class="home-high-quality"> High-quality, customized </span> websites for nonprofits</h1>
    </div>
  </div>

  <div class=home-logos-container>
    <img ng-src="./img/unicef-logo.jpg">
    <img ng-src="./img/khan-academy.png">
    <img ng-src="./img/Turnstone_logo.jpg">
    <img ng-src="./img/possible-logo.jpeg">
    <img ng-src="./img/cmv-logo.png">
  </div>

  <br>

  <div class="process-h1">
    <h1>Come Join Us</h1>
  </div>

  <br>

  <div class="home-pitch-main-container">
    <div class="row">
      <div class="section-1">
        <div class="thumbnail">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
            with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
      </div>
      <div class="section-1">
        <div class="thumbnail">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
            with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
      </div>
      <div class="section-1">
        <div class="thumbnail">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
            with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="process-h1">
    <h1>How our Nonprofit Projects Work</h1>
  </div>
  <br>
  <div class="home-process-main-container">
    <div class="row2">
      <div class="section-2">
        <div class="thumbnail2">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
            with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
      </div>
      <div class="section-2">
        <div class="thumbnail2">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
            with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
      </div>
      <div class="section-2">
        <div class="thumbnail2">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
            with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
      </div>
      <div class="section-2">
        <div class="thumbnail2">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
            with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
      </div>
    </div>
  </div>

  <br><br>

  <div class="testimonial-main-container">
    <div class="home-examples-container">
      <div class="center-home-examples">
        <h1>From a Nonprofit Partner</h1>
        <img class="home-resize-blockquote" src="./img/blockquote.png">
        <p class="home-examples-text">The team at DevGive satisfied all of our requests on time and on budget, resulting in a site far superior in every way to our previous one. Additionally, they provided helpful information on related issues, and advised on the pros and cons of
          all of the decisions made along the way</p>
      </div>
    </div>
    <div class="testimonial-pic-container">
      <div class="center-testimonial-pic">
        <br>
        <img class="home-testimonial-pic" src="./img/testimonial.jpg">
        <div class="testmonial-name">
          <h2>Nancy Gallegos</h2>
          <h3>Business Development Manager</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="process-h1">
    <h1>About Us</h1>
  </div>
  <div class="home-about-us-main-container">
    <div class="home-center-summary">
      <p><span class="home-resize-summary">Summary: </span> Lorem Ipsum is simply dummy text of the printing and typesetting industry. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
  </div>

  <br>

  <div class="home-about-us-main-container">
    <div class="home-about-us-team-text-container">
      <h1 class="home-about-us-team">Team:</h1>

      <br>

      <div class="home-about-us-images-container">
        <div class="row3">
          <div class="section-3">
            <div class="thumbnail3">
              <img class="home-testimonial-pic" src="./img/dylan.jpg">
              <p>Dylan Brown: </p>
            </div>
          </div>
          <div class="section-3">
            <div class="thumbnail3">
              <img class="home-testimonial-pic" src="./img/andy.jpg">
              <p>Andy Parker: </p>
            </div>
          </div>
          <div class="section-3">
            <div class="thumbnail3">
              <img class="home-testimonial-pic" src="./img/dat.jpg">
              <p>Dat Tran: </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="process-h1">
    <h1>Contact Us</h1>
  </div>
  <div class="home-contact-container">
    <div class="home-contact-wrap">
      <form class="home-contact-fieldset">
        <div class="home-contact-box">
          <label for="inpEmail" class="home-contact-screen-out">Your Name</label>
          <input type="text" id="enpEmail" name="inpEmail" class="home-contact-inp_comm" placeholder="Your Name" ng-model="contact.name">
        </div>
        <div class="home-contact-box">
          <label for="inpEmail" class="home-contact-screen-out">Email address</label>
          <input type="email" id="enpEmail" name="inpEmail" class="home-contact-inp_comm" placeholder="Email address" ng-model="contact.email">
        </div>
        <div class="home-contact-box">
          <label for="inpEmail" class="home-contact-screen-out">Messages</label>
          <input type="text" id="enpEmail" name="inpEmail" class="home-contact-inp_comm" placeholder="Messages" ng-model="contact.msg">
        </div>
        <p class="home-contact-acenter">
          <button ng-click="sendMail(contact)" class="home-contact-input" type="submit">Submit</button>
        </p>
      </form>
    </div>
  </div>

  <br><br>



</div>
