<div class="createAccount-main-container">
  <div class="process-h1">
    <h1>Sign Up</h1>
  </div>
  <div class="home-contact-container">
    <div class="home-contact-wrap">
      <form class="home-contact-fieldset">
        <div class="createAccount-display-block">
        <div class="home-contact-box">
          <label for="inpEmail" class="home-contact-screen-out">First name</label>
          <input type="text" id="enpEmail" name="inpEmail" class="home-contact-inp_comm" placeholder="First name" ng-model="contact.name">
        </div>
        <div class="home-contact-box">
          <label for="inpEmail" class="home-contact-screen-out">Last name</label>
          <input type="text" id="enpEmail" name="inpEmail" class="home-contact-inp_comm" placeholder="Last name" ng-model="contact.name">
        </div>
      </div>
        <div class="home-contact-box">
          <label for="inpEmail" class="home-contact-screen-out">Email address</label>
          <input type="email" id="enpEmail" name="inpEmail" class="home-contact-inp_comm" placeholder="Email address" ng-model="contact.email">
        </div>
        <div class="home-contact-box">
          <label for="inpEmail" class="home-contact-screen-out">Phone number</label>
          <input type="text" id="enpEmail" name="inpEmail" class="home-contact-inp_comm" placeholder="Phone number" ng-model="contact.name">
        </div>
        <div class="home-contact-box">
          <label for="inpEmail" class="home-contact-screen-out">Job title (optional)</label>
          <input type="text" id="enpEmail" name="inpEmail" class="home-contact-inp_comm" placeholder="Job title (optional)" ng-model="contact.name">
        </div>
        <div class="home-contact-box">
          <label for="inpEmail" class="home-contact-screen-out">Skills</label>
          <input type="text" id="enpEmail" name="inpEmail" class="home-contact-inp_comm" placeholder="Skills" ng-model="contact.name">
        </div>
        <div class="home-contact-box">
          <label for="inpEmail" class="home-contact-screen-out">Description</label>
          <input type="text" id="enpEmail" name="inpEmail" class="home-contact-inp_comm" placeholder="Description" ng-model="contact.msg">
        </div>
        <p class="home-contact-acenter">
          <button ng-click="sendMail(contact)" class="home-contact-input" type="submit">Submit</button>
        </p>
      </form>
    </div>
  </div>













</div>
