<section class="section">
  <div class="container">
    <div class="column is-mobile">

      <div class="box">
        <div class="center-apply-upload-container">
          <div>
            <figure class="image is-256x256">
              <img src="http://bulma.io/images/placeholders/256x256.png">
            </figure>
            <div class="file has-name is-boxed">
              <label class="file-label">
          <span style="margin: 30px 16px;" class="file-cta">
            <span class="file-icon">
              <i class="fa fa-upload"></i>
            </span>
            <span class="file-label">
              Upload an image…
            </span>
          </span>
        </label>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="column is-mobile">

      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text">
        </div>
      </div>

      <div class="field">
        <label class="label">Username</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-success" type="text">
          <span class="icon is-small is-left">
          <i class="fa fa-user"></i>
        </span>
          <span class="icon is-small is-right">
          <i class="fa fa-check"></i>
        </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-danger" type="email">
          <span class="icon is-small is-left">
          <i class="fa fa-envelope"></i>
        </span>
          <span class="icon is-small is-right">
          <i class="fa fa-warning"></i>
        </span>
        </div>
      </div>

      <div class="field">
        <label class="label">How will you contribute to the project?</label>
        <div class="control">
          <textarea class="textarea"></textarea>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary">Submit</button>
        </div>
      </div>

    </div>
  </div>
</section>
