<footer class=app-footer>
    <div class=container>
        <div class="columns is-multiline is-mobile">
            <div class="column is-12-mobile is-4-tablet">
                <div class=closure>
                    <a href="index.html" class=is-inline-block title=Gustav>
                       <img src="/img/DevGiveLogoColored.png" alt="DevGive" width="164" height="auto">
                    </a>
                    <hr class="spacer is-1" />
                    <p> &copy; 2017 Coding for Charity </p>
                    <hr class="spacer is-1-5" />
                    <p> The community for developers and non-profits.
                        <br>Good causes and developers representing the future. </p>
                </div>
            </div>
            <div class="column is-12-mobile is-2-tablet">
                <div class=menu>
                    <h3 class=menu-label> Sign up now </h3>
                    <ul class=menu-list>
                        <li> <a href="/auth">Non-Profit</a> </li>
                        <li> <a href="/auth">Developers</a> </li>
                    </ul>
                </div>
            </div>
            <div class="column is-12-mobile is-2-tablet">
                <div class=menu>
                    <h3 class=menu-label> Connect </h3>
                    <ul class=menu-list>
                        <li> <a href="https://github.com/Codingforcharity" target=_blank title="DevGive on Github">GitHub</a></li>
                    </ul>
                </div>
            </div>
            <div class="column is-12-mobile is-2-tablet">
                <div class=menu>
                    <h3 class=menu-label> Supporters </h3>
                    <div class="image-list is-small">
                        <div class=image> <img alt="Creating the next generation of developers" src="img/clients/devmountain.png" /> </div>
                    </div>
                </div>
            </div>
            <div class="column is-12-mobile is-2-tablet">
                <div class=menu>
                    <h3 class=menu-label> Dallas, USA </h3>
                    <ul class=menu-list>
                        <li>
                            <a class=map href="https://goo.gl/maps/TjZaELTNqVm"><img src="img/maps/dallas.png" />
                                    <div class=is-visually-hidden> 2200 Ross Ave
                                        <br/>Dallas, TX 75201
                                        <br/>USA </div>
                                </a>
                        </li>
                        <li> <a class=is-nowrap href="mailto:team-east@devgive.io">team-east@devgive.io</a> </li>
                    </ul>
                </div>
                <div class=menu>
                    <h3 class=menu-label> San Francisco, USA </h3>
                    <ul class=menu-list>
                        <li>
                            <a class=map href="https://goo.gl/maps/iJCLWrrP1Sn"><img src="img/maps/sanfran.png" />
                                    <div class=is-visually-hidden> 100 Montgomery Street
                                        <br/>San Francisco
                                        <br/>USA </div>
                                </a>
                        </li>
                        <li> <a class=is-nowrap href="mailto:team-west@devgive.io">team-west@devgive.io</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>