<section class="section main">
    <div class="container">
        <div class="columns">
            <div class="column is-3">
            <div ng-if="curUser">
                <div class="card is-fullwidth">
                    <div class="card-content">
                        <a class="card-avatar" ng-href="/#!/account/dev/{{curUser.id}}">
                            <img ng-src="{{curUser.profilepic}}" class="card-avatar-img">
                        </a>

                        <div class="card-user">
                            <div class="card-user-name">
                                <a ng-href="/#!/account/dev/{{curUser.id}}">{{curUser.firstname}} {{curUser.lastname}}</a>
                            </div>
                            <span>
                      <a ng-href="/#!/account/dev/{{curUser.id}}">@<span>{{curUser.username}}</span></a>
                            </span>
                        </div>

                        <div class="card-stats">
                            <ul class="card-stats-list">
                                <li class="card-stats-item">
                                    <a href="#" title="9.840 Tweet">
                                        <span class="card-stats-key">Projects</span>
                                        <span class="card-stats-val">3</span>
                                    </a>
                                </li>
                                <li class="card-stats-item">
                                    <a href="#/following" title="885 Following">
                                        <span class="card-stats-key">Applications</span>
                                        <span class="card-stats-val">1</span>
                                    </a>
                                </li>
                                <li class="card-stats-item">
                                    <a href="#">
                                        <span class="card-stats-key">Gives</span>
                                        <span class="card-stats-val">12</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
                <div class="spacer"></div>
                <div class="box">
                    <div class="level-center">
                        <p class="level-item"><a class="button is-info">List a Project</a></p>
                    </div>
                </div>
                <div class="box trending">
                    <p class=""><span class="subtitle is-6">filters</span> <a href="" ng-if="filtered" ng-click="getProjects()">reset</a></p>
                    <div class="spacer"></div>
                    <div class="tags">
                  <span class="tag is-rounded" ng-repeat="skill in skills" style="margin: 0 1%;"><a href="" ng-click="filter(skill)">{{skill}}</a>&nbsp;&nbsp;&nbsp;</span>
                </div>
                </div>
            </div>
            <div class="column is-9">
                <!-- Main container -->
                <div class="box">
                    <nav class="level">
                        <!-- Left side -->
                        <!-- <p class="level-item"><a class="button is-info">List a Project</a></p> -->
                        <div class="level-item">
                            <div class="field has-addons">
                                <p class="control">
                                    <input class="input" type="text" placeholder="search projects">
                                </p>
                                <p class="control">
                                    <button class="button">Search</button>
                                </p>
                            </div>
                        </div>
                        <div class="level-item">
                                <p class="subtitle is-5">
                                    <strong>14</strong> projects
                                </p>
                            </div>
                    </nav>
                </div>
                <div class="box">
                    <article class="media project-box overflow: auto;" ng-repeat="project in projects">
                        <div class="media-left">
                            <figure class="image is-64x64">
                                <img ng-src="{{project.profilepic}}" alt="Charity Logo">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong ui-sref='projectPublicDetails({id: {{project.id}}})'>{{project.title}}</strong>
                                    <small><a ng-href="/#!/account/dev/{{project.posterid}}">@{{project.username}}</a></small>
                                    <small style="float:right;">31m</small>
                                    <br>Project description: {{project.description}}
                                </p>
                            </div>
                            
                                    <!-- Style the ng-repeated div to have a margin on left and right - items are in a flex and so are crunched together I put a temporary fix below, Dylan -->
                                    <div class="tags">  
                                    <div ng-repeat="skill in project.skills" style="margin:0 1%;">                                      
                                            <p class="tag"><a href="#">{{skill}}</a></p>
                                        </div>
                                       
                                    </div>
                           
                        </div>
                    </article>

                </div>
            </div>
        </div>
    </div>
</section>