<section class="section main">
    <div class="container">
        <div class="columns">
            <div class="column is-3">
                <div class="card is-fullwidth">
                    <header class="card-header" ng-if="curUser">
                    </header>
                    <div class="card-content" ng-if="curUser">
                        <a class="card-avatar" ng-href="/#!/account/dev/{{curUser.id}}">
                            <img ng-src="{{curUser.profilepic}}" class="card-avatar-img">
                        </a>

                        <div class="card-user">
                            <div class="card-user-name" ng-if="curUser.firstname">
                                <a ng-href="/#!/account/dev/{{curUser.id}}">{{curUser.firstname}} {{curUser.lastname}}</a>
                            </div>
                            <span>
                      <a ng-href="/#!/account/dev/{{curUser.id}}">@<span>{{curUser.username}}</span></a>
                            </span>
                        </div>

                        <div class="card-stats">
                            <ul class="card-stats-list">
                                <li class="card-stats-item">
                                    <a href="#" title="9.840 Tweet">
                                        <span class="card-stats-key">Projects</span>
                                        <span class="card-stats-val">3</span>
                                    </a>
                                </li>
                                <li class="card-stats-item">
                                    <a href="#/following" title="885 Following">
                                        <span class="card-stats-key">Applications</span>
                                        <span class="card-stats-val">1</span>
                                    </a>
                                </li>
                                <li class="card-stats-item">
                                    <a href="#">
                                        <span class="card-stats-key">Gives</span>
                                        <span class="card-stats-val">12</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="spacer"></div>
                <div class="box trending">
                    <p class="trend-title"><span class="title is-5">Filters</span> <a href="" ng-if="filtered" ng-click="getProjects()">reset</a></p>
                    <p class="tag" ng-repeat="skill in skills" style="margin: 0 1%;"><a href="" ng-click="filter(skill)">{{skill}}</a>&nbsp;&nbsp;&nbsp;</p>
                </div>
            </div>
            <div class="column is-6">
                <div class="notification is-danger">
                    <button class="delete" onclick="((this).parentNode.remove())"></button> Dylan, ng repeat these project boxs
                </div>
                <div class="box">
                    <article class="media" ng-repeat="project in projects">
                        <div class="media-left">
                            <figure class="image is-64x64">
                                <img ng-src="{{project.profilepic}}" alt="Charity Logo">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong ui-sref='projectDetail'>{{project.title}}</strong> <small><a ng-href="/#!/account/dev/{{project.posterid}}">@{{project.username}}</small></a> <small style="float:right;">31m</small>
                                    <br>Project description: {{project.description}}
                                </p>
                            </div>
                            <nav class="level">
                                <div class="level-left">
                                    <!-- Style the ng-repeated div to have a margin on left and right - items are in a flex and so are crunched together I put a temporary fix below, Dylan -->
                                    <div ng-repeat="skill in project.skills" style="margin:0 1%;">
                                        <a class="level-item">
                                            <p class="tag"><a href="#">{{skill}}</a></p>
                                        </a>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </article>

                </div>
            </div>
            <div class="column is-3">
                <!-- <div class="box">
                <p><span class="title is-5">Who to follow</span> · <a href="#">Refresh</a> · <a href="#">View All</a></p>
                <hr>
                <div class="columns">
                  <div class="column is-3 is-marginless">
                    <div class="image">
                      <img src="https://placehold.it/200x200">
                    </div>
                  </div>
                  <div class="column is-9">
                    <p>
                      <a href="#">
                        <strong>John Smith</strong>
                        &commat;jsmith
                      </a>
                      <a href="#">
                        <i class="fa fa-times"></i>
                      </a>
                    </p>
                    <a class="button is-primary is-small">
                      <span>
                        + Follow
                      </span>
                    </a>
                  </div>
                </div>
                <div class="columns">
                  <div class="column is-3 is-marginless">
                    <div class="image">
                      <img src="https://placehold.it/200x200">
                    </div>
                  </div>
                  <div class="column is-9">
                    <p>
                      <a href="#">
                        <strong>Jane Smith</strong>
                        &commat;janesmith
                      </a>
                      <a href="#">
                        <i class="fa fa-times"></i>
                      </a>
                    </p>
                    <a class="button is-primary is-small">
                      <span>
                        + Follow
                      </span>
                    </a>
                  </div>
                </div>
                <div class="columns">
                  <div class="column is-3 is-marginless">
                    <div class="image">
                      <img src="https://placehold.it/200x200">
                    </div>
                  </div>
                  <div class="column is-9">
                    <p>
                      <a href="#">
                        <strong>Mike Scott</strong>
                        &commat;mscott
                      </a>
                      <a href="#">
                        <i class="fa fa-times"></i>
                      </a>
                    </p>
                    <a class="button is-primary is-small">
                      <span>
                        + Follow
                      </span>
                    </a>
                  </div>
                </div>

              </div> -->
            </div>
        </div>
    </div>
</section>
