<topnav></topnav>

<!-- ---------- Account Profile -------- -->
<section class="section account-profile">
    <div class="container profile">
        <div class="section box account-profile">
            <div class="columns">
                <!------------------ Profile Picture - left column ---------------->
                <div class="column is-3">
                    <div class="is-fullwidth ">
                        <div class="card-content">
                            <div class="polaroid-feed is-team">
                                <div class=polaroid-image>
                                    <img ng-if="!ownPage" ng-src="{{pageOwner.profilepic}}" alt="Profile pic for {{pageOwner.username}}">
                                    <img ng-if="ownPage" ng-src="{{curUser.profilepic}}" alt="Profile pic for {{curUser.username}}">
                                </div>
                                <span class=polaroid-label>{{pageOwner.firstname}}</span>
                            </div>
                        </div>
                        <div class="level">
                            <div class="level-item" ng-if='curUser.id'>
                                <div class="button  is-danger" ng-click="changePicture();">Change Picture</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!------------------ Profile - right column ---------------->
                <div class="column is-9">
                    <div class="spacer"></div>
                    <div class="columns">
                        <div class="column is-3">
                            <p class="title is-4" ng-if="!ownPage && pageOwner.firstname">
                                <span class="title is-bold">{{pageOwner.firstname}} {{pageOwner.lastname}}</span>
                            </p>
                            <p class="title is-4" ng-if="ownPage">
                                <input class="input" type="text" ng-model="$parent.newFirstName" placeholder="First Name">
                            </p>
                            <p class="title is-4" ng-if="ownPage">
                                <input class="input" type="text" ng-model="$parent.newLastName" placeholder="Last Name">
                            </p>
                        </div>
                        <div class="column is-6">
                            <div>
                                <!-- <div class="project-counter title is-6">Thanks: 3</div> -->
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="content profile is-medium">
                        <div class="content" ng-if="!ownPage">
                            <strong>bio:</strong> {{pageOwner.bio}}
                        </div>
                        <div class="content" ng-if="ownPage">
                            <span class="bold-description">Description: </span>
                            <textarea style="width: 100%; font-size: 1rem;" rows="10" cols="60" ng-model="$parent.newBio" placeholder="Describe yourself">
                                {{curUser.bio}}
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="align-button-center">
                <button class="button is-danger" type="submit" ng-if="ownPage" ng-click="subChanges($parent.newFirstName, $parent.newLastName, $parent.newBio, $parent.newSkills);">Submit Changes</button>
            </div>

            <br>

            <footer>
                <div class="tabs profile is-medium is-centered is-boxed">
                    <ul>
                        <li class="is-active" id="messages" ng-click="changeTab('messages');">
                            <a>
                                <span class="icon is-small"><i class="fa fa-envelope-o"></i></span>
                                <span>Messages</span>
                            </a>
                        </li>
                        <li class="" id="projects" ng-click="changeTab('projects');">
                            <a>
                                <span class="icon is-small"><i class="fa fa-folder"></i></span>
                                <span>Projects</span>
                            </a>
                        </li>
                        <!-- <li ng-click="changeTab('messages');">
                            <a>
                                <span class="icon is-small"><i class="fa fa-heart"></i></span>
                                <span>Thanks</span>
                            </a>
                        </li> -->
                        <!-- <li ng-click="changeTab('messages');">
                            <a>
                                <span class="icon is-small"><i class="fa fa-sliders"></i></span>
                                <span>Settings</span>
                            </a>
                        </li> -->
                    </ul>
                </div>
            </footer>

            <!------------ Projects ------------>
            <!-- <h3 class="title is-3 style-message-board">Project</h3> -->
            <article class="box media project-box overflow: auto;" ng-repeat="project in userProjects" ng-if="projectsActive">
                <a ng-href="/#!/account/{{project.posterid}}">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img ng-if="!ownPage" ng-src="{{pageOwner.profilepic}}" alt="Profile pic for {{pageOwner.username}}">
                            <img ng-if="ownPage" ng-src="{{curUser.profilepic}}" alt="Profile pic for {{curUser.username}}">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <!-- <a class="subtitle is-5" ng-href="/#!/account/{{project.posterid}}">{{project.username}}</a> -->
                                <a class="subtitle is-5" ng-if="!ownPage" ng-click="changeModal(project);">{{project.title}}</a>
                                <a class="subtitle is-5" ng-if="ownPage" ui-sref="workingProject({id: {{project.projid}} })">{{project.title}}</a>
                                <br>
                                <hr>
                                <div class="feed-description">{{project.description}}</div>
                            </p>
                        </div>
                    </div>
                </a>
            </article>

            <!-- ------------Messages ----------------- -->
            <!-- <h3 class="title is-3 style-message-board">Message Board</h3> -->
            <div class="box message-board-container" ng-if="msgActive">
                <article class="media " ng-repeat="comment in userComments">
                    <figure class="media-left ">
                        <p class="image is-64x64 ">
                            <a ng-href="/#!/account/{{comment.posterid}}"> <img ng-src="{{comment.profilepic}}"> </a>
                        </p>
                    </figure>
                    <div class="media-content ">
                        <div class="content ">
                            <p>
                                <a ng-href="/#!/account/{{comment.posterid}}"><strong ng-if="comment.firstname && comment.lastname">{{comment.firstname}} {{comment.lastname}}</strong>
                                <strong ng-if="!comment.firstname || !comment.lastname">{{comment.username}}</strong></a>
                                <br> {{comment.message}}
                                <br>
                            </p>
                        </div>

                        <article class="media " ng-repeat="reply in comment.replies">
                            <figure class="media-left ">
                                <p class="image is-48x48 ">
                                    <a ng-href="/#!/account/{{reply.posterid}}"><img ng-src="{{reply.profilepic}}"></a>
                                </p>
                            </figure>
                            <div class="media-content ">
                                <div class="content ">
                                    <p>
                                        <a ng-href="/#!/account/{{reply.posterid}}"><strong ng-if="reply.firstname && reply.lastname">{{reply.firstname}} {{reply.lastname}}</strong>
                                        <strong ng-if="!reply.firstname || !reply.lastname">{{reply.username}}</strong></a>
                                        <br> {{reply.message}}
                                        <br>
                                    </p>
                                </div>
                            </div>
                        </article>
                        <article class="media" ng-if="curUser.username">
                            <figure class="media-left">
                                <p class="image is-64x64">
                                    <img ng-src="{{curUser.profilepic}}">
                                </p>
                            </figure>
                            <div class="media-content">
                                <div class="field">

                                    <textarea class="textarea" rows="4" ng-model="newReply" placeholder="Add a reply..."></textarea>

                                </div>
                                <div class="field">
                                    <p class="control change-button-style">
                                        <button class="button is-danger" ng-click="submitReply(comment, newReply); newReply=''; ">Post reply</button>
                                    </p>
                                </div>
                            </div>
                        </article>
                        <hr style="border-top: dotted 1px;" />
                    </div>
                </article>

                <article class="media " ng-if="curUser.username">
                    <div class="media-content ">
                        <div class="field ">
                            <p class="control ">
                                <textarea class="textarea " ng-model="newComment" placeholder="Add a comment... "></textarea>
                            </p>
                        </div>
                        <div class="field ">
                            <p class="control change-button-style">
                                <button class="button is-danger" ng-click="submitComment(newComment);">Post comment</button>
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <!------------ Project modal  -------->
    <div ng-if='modalSet' id="modal-ter" class="modal project-modal is-active">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">{{modal.creator}} - Project description</p>
                <button ng-click='$parent.modalSet = false' class="delete"></button>
            </header>
            <section class="modal-card-body">
                <div class="content">
                    <div class="">
                        <!-- Heart you -->
                        <figure class="image is-128x128">
                            <img ui-sref="accountDev({id: {{modal.posterid}} })" ng-src="{{modal.pic}}" alt="Charity Logo">
                        </figure>
                    </div>
                    <br>
                    <div class="content">
                        <h3 class="">{{modal.title}}</h3>
                        <hr>
                        <p>{{modal.desc}}</p>
                    </div>
                    <h4 class="subtitle is-5">Tell us about yourself</h4>
                </div>

                <div class="control">
                    <textarea class="textarea" type="text" placeholder="Enter details here"></textarea>
                </div>

            </section>
            <footer class="modal-card-foot">
                <a class="button is-danger" ng-href='/#!/apply/{{project.projid}}' ng-if="curUser.id">Apply</a>
                <a ng-click='$parent.modalSet = false' class="button is-primary is-outlined">Cancel</a>
            </footer>
        </div>
    </div>

    <!------------ Picture modal  -------->
    <div ng-if='showPictures' id="modal-ter" class="modal project-modal is-active">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Select your Avatar</p>
                <button ng-click='$parent.showPictures = false' class="delete"></button>
            </header>
            <section class="modal-card-body">
                <div class="content">
                    <ul id="avatarul">
                        <li ng-click='updatePicture("avatar1")'>
                            <img class="avatar" id="avatar1" ng-model="avatar1" src="/img/avatars/1.svg">
                        </li>
                        <li ng-click='updatePicture("avatar2")'>
                            <img class="avatar" id="avatar2" src="/img/avatars/2.svg">
                        </li>
                        <li ng-click='updatePicture("avatar3")'>
                            <img class="avatar" id="avatar3" src="/img/avatars/3.svg">
                        </li>
                        <li ng-click='updatePicture("avatar4")'>
                            <img class="avatar" id="avatar4" src="/img/avatars/4.svg">
                        </li>
                        <li ng-click='updatePicture("avatar5")'>
                            <img class="avatar" id="avatar5" src="/img/avatars/5.svg">
                        </li>
                        <li ng-click='updatePicture("avatar6")'>
                            <img class="avatar" id="avatar6" src="/img/avatars/6.svg">
                        </li>
                        <li ng-click='updatePicture("avatar7")'>
                            <img class="avatar" id="avatar7" src="/img/avatars/7.svg">
                        </li>
                        <li ng-click='updatePicture("avatar8")'>
                            <img class="avatar" id="avatar8" src="/img/avatars/8.svg">
                        </li>
                        <li ng-click='updatePicture("avatar9")'>
                            <img class="avatar" id="avatar9" src="/img/avatars/9.svg">
                        </li>
                        <li ng-click='updatePicture("avatar10")'>
                            <img class="avatar" id="avatar10" src="/img/avatars/10.svg">
                        </li>
                        <li ng-click='updatePicture("avatar11")'>
                            <img class="avatar" id="avatar11" src="/img/avatars/11.svg">
                        </li>
                        <li ng-click='updatePicture("avatar12")'>
                            <img class="avatar" id="avatar12" src="/img/avatars/12.svg">
                        </li>

                        <li ng-click='updatePicture("avatar13")'>
                            <img class="avatar" id="avatar13" src="/img/avatars/13.svg">
                        </li>
                        <li ng-click='updatePicture("avatar14")'>
                            <img class="avatar" id="avatar14" src="/img/avatars/14.svg">
                        </li>
                        <li ng-click='updatePicture("avatar15")'>
                            <img class="avatar" id="avatar15" src="/img/avatars/15.svg">
                        </li>
                        <li ng-click='updatePicture("avatar16")'>
                            <img class="avatar" id="avatar16" src="/img/avatars/16.svg">
                        </li>
                    </ul>
                </div>

            </section>
            <footer class="modal-card-foot">
                <a class="button is-danger" ng-click='submitApplication(newMessage, modal)' ng-if="curUser.id">Apply</a>
                <a ng-if="!curUser.id" href="/auth" class="button is-danger">Sign up to apply</a>
                <a ng-click='$parent.modalSet = false' class="button is-primary is-outlined">Close</a>
            </footer>
        </div>
    </div>
</section>

</div>