<section class="section account-bg-color">
    <div class="container">
        <div class="column is-mobile">
            <div class="account-box-bg-color">
                <div class="account-main-box">
                    <div class="columns">


                        <div class="column">
                            <!-- <div class="box account-change-box-bg"> -->
                            <h3 style="text-align: center " class="title is-3 ">Message Board</h3>

                            <article class="media " ng-repeat="comment in userComments">
                                <figure class="media-left ">
                                    <p class="image is-64x64 ">
                                        <img ng-src="{{comment.profilepic}}">
                                    </p>
                                </figure>
                                <div class="media-content ">
                                    <div class="content ">
                                        <p>
                                            <strong ng-if="comment.firstname && comment.lastname">{{comment.firstname}} {{comment.lastname}}</strong>
                                            <strong ng-if="!comment.firstname || !comment.lastname">{{comment.username}}</strong>
                                            <br> {{comment.message}}
                                            <br>
                                        </p>
                                    </div>

                                    <article class="media " ng-repeat="reply in comment.replies">
                                        <figure class="media-left ">
                                            <p class="image is-48x48 ">
                                                <img ng-src="{{reply.profilepic}}">
                                            </p>
                                        </figure>
                                        <div class="media-content ">
                                            <div class="content ">
                                                <p>
                                                    <strong ng-if="reply.firstname && reply.lastname">
                                                        {{reply.firstname}} {{reply.lastname}}
                                                    </strong>
                                                    <strong ng-if="!reply.firstname || !reply.lastname">
                                                        {{reply.username}}
                                                    </strong>
                                                    <br> {{reply.message}}
                                                    <br>
                                                </p>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="media" ng-if="curUser.username">
                                        <figure class="media-left">
                                            <p class="image is-64x64">
                                                <img ng-src="{{curUser.profilepic}}">
                                            </p>
                                        </figure>
                                        <div class="media-content">
                                            <div class="field">
                                                <p class="control">
                                                    <textarea class="textarea" ng-model="newReply" placeholder="Add a reply..."></textarea>
                                                </p>
                                            </div>
                                            <div class="field">
                                                <p class="control change-button-style">
                                                    <button class="button" ng-click="submitReply(comment, newReply); newReply=''; ">Post reply</button>
                                                </p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </article>
                            <article class="media " ng-if="curUser.username">
                                <!-- <figure class="media-left ">
                                    <p class="image is-64x64 ">
                                        <img ng-src="{{curUser.profilepic}}">
                                    </p>
                                </figure> -->
                                <div class="media-content ">
                                    <div class="field ">
                                        <p class="control ">
                                            <textarea class="textarea " ng-model="newComment" placeholder="Add a comment... "></textarea>
                                        </p>
                                    </div>
                                    <div class="field ">
                                        <p class="control change-button-style">
                                            <button class="button " ng-click="submitComment(newComment);">Post comment</button>
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <!-- </div> -->
                        </div>


                        <div class="column is-one-quarter">
                            <!-- <div class="card card-border-radius"> -->
                            <div class="card-image">
                                <figure class="image is-square">
                                    <img ng-if="!ownPage" ng-src="{{pageOwner.profilepic}}" alt="Profile pic for {{pageOwner.username}}">
                                    <img ng-if="ownPage" ng-src="{{curUser.profilepic}}" alt="Profile pic for {{curUser.username}}">
                                </figure>
                                <input ng-if="ownPage" type="text" ng-model="$parent.newProfilePic" placeholder="insert link to profile pic here">
                            </div>
                            <div class="content" ng-if="ownPage">
                                <span class="bold-description">Description: </span>
                                <textarea rows="10" cols="60" ng-model="$parent.newBio" placeholder="Describe yourself">
                                    {{curUser.bio}}
                                </textarea>
                            </div>
                            <br>
                            <div class="card-content remove-card-content-set-height">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4" ng-if="!ownPage && pageOwner.firstname">
                                            {{pageOwner.firstname}} {{pageOwner.lastname}}
                                        </p>
                                        <p class="title is-4" ng-if="ownPage">
                                            <input type="text" ng-model="$parent.newFirstName" placeholder="First Name">
                                        </p>
                                        <p class="title is-4" ng-if="ownPage">
                                            <input type="text" ng-model="$parent.newLastName" placeholder="Last Name">
                                        </p>
                                    </div>
                                </div>

                <div class="column ">
                    <div class="box change-box-background-color ">
                        <article class="message ">
                            <div class="message-header center-projects-header ">
                                <p>Projects</p>
                            </div>
                            <div class="content " ng-repeat="project in userProjects">
                                <p>
                                    <a ng-href="/#!/projectfeed/project/{{project.projid}}" ng-if="!ownPage"><strong>{{project.title}}</strong></a>
                                    <a ng-href="/#!/active/project/{{project.projid}}" ng-if="ownPage"><strong>{{project.title}}</strong></a>
                                    <br> {{project.description}}
                                </p>
                            </div>

                            <br><br>

                                <article class="message ">
                                    <div class="message-header center-projects-header account-message-header">
                                        <p>Projects:</p>
                                    </div>
                                    <div class="content account-change-content-bg-color" ng-repeat="project in userProjects">
                                        <p>
                                            <strong>{{project.title}}</strong>
                                            <br> {{project.description}}
                                        </p>
                                    </div>
                                </article>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
