<topnav></topnav>

<!-- ---------- Account Profile -------- -->
<section class="section account-profile" ng-if="allowedAccess">
    <div class="container profile">
        <div class="section box account-profile">
            <div class="columns">
                <!------------------ Profile Picture - left column ---------------->
                <div class="column is-3">
                    <div class="is-fullwidth">
                        <!-- non profit profile pic -->
                        <div class="np-profile">
                            <figure class="is-128x128">
                                <a ng-href="/#!/account/{{project.posterid}}">
                            <img ng-src="{{project.profilepic}}" alt="Logo">
                         </a>
                            </figure>
                        </div>
                        <article class="message is-medium resize-to-do-box">
                            <nav class="panel">
                                <p class="panel-heading working-add-panel-heading-bg-color">
                                    <strong>To Do:</strong>
                                </p>
                                <div class="message-body to-do-body" ng-repeat="todo in todos">
                                    <label class="panel-block">
                                        <div class="working-add-margin-right">
                                            <input type="checkbox" value="todo.done" ng-click="deleteTodo(todo)">
                                        </div>
                                            <p>{{todo.todo}}</p>
                                    </label>
                                </div>
                            </nav>
                        </article>

                        <form ng-submit="submitTodo(newtodo); newtodo =''; ">
                            <input class="input" type="text" ng-model="newtodo" placeholder="Enter todo here">
                            <br><br>
                            <input class="button is-danger" type="submit" value="Submit">
                        </form>
                    </div>
                </div>

                <!------------------ Profile - right column ---------------->
                <div class="column is-9">
                    <div class="working-realign-text-center">
                        <div class="title is-4">
                            <span class="title is-bold">{{project.title}}</span>
                        </div>
                    </div>
                    <hr>
                    <div class="content profile is-medium">
                        <div class="content">
                            <strong>Summary:</strong> {{project.description}}
                        </div>
                    </div>
                </div>

            </div>

            <br>

            <footer>
                <div class="tabs profile is-medium is-centered is-boxed">
                    <ul>
                        <li class="is-active" id="messages" ng-click="changeTab('messages');">
                            <a>
                                    <span class="icon is-small"><i class="fa fa-envelope-o"></i></span>
                                    <span>Messages</span>
                                </a>
                        </li>
                        <li class="" id="contributors" ng-click="changeTab('contributors');">
                            <a>
                                    <span class="icon is-small"><i class="fa fa-user-o"></i></span>
                                    <span>Contributors</span>
                                </a>
                        </li>
                        <li class="" id="resources" ng-click="changeTab('resources');">
                            <a>
                                    <span class="icon is-small"><i class="fa fa-file-o"></i></span>
                                    <span>Resources</span>
                                </a>
                        </li>
                        <!-- <li ng-click="changeTab('messages');">
                                    <a>
                                        <span class="icon is-small"><i class="fa fa-heart"></i></span>
                                        <span>Thanks</span>
                                    </a>
                                </li> -->
                        <!-- <li ng-click="changeTab('messages');">
                                    <a>
                                        <span class="icon is-small"><i class="fa fa-sliders"></i></span>
                                        <span>Settings</span>
                                    </a>
                                </li> -->
                    </ul>
                </div>
            </footer>

            <!-- ------------Messages ----------------- -->
            <!-- <h3 class="title is-3 style-message-board">Message Board</h3> -->

            <div class="box" ng-if="msgActive">
                <article class="media" ng-repeat="comment in comments">
                    <figure class="media-left">
                        <p class="image is-64x64">
                            <a ng-href="/#!/account/{{comment.id}}"><img ng-src="{{comment.profilepic}}"></a>
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <a ng-href="/#!/account/{{comment.id}}"><strong>{{comment.username}}</strong></a>
                                <br> {{comment.message}}
                                <br>

                            </p>
                        </div>
                        <article class="media" ng-repeat="reply in comment.replies">
                            <figure class="media-left">
                                <p class="image is-48x48">
                                    <a ng-href="/#!/account/{{reply.id}}"><img ng-src="{{reply.profilepic}}"></a>
                                </p>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <a ng-href="/#!/account/{{reply.id}}"><strong>{{reply.username}}</strong></a>
                                        <br> {{reply.reply}}
                                        <br>
                                    </p>
                                </div>
                            </div>
                        </article>
                        <article class="media">
                            <figure class="media-left">
                                <p class="image is-64x64">
                                    <img ng-src="{{curUser.profilepic}}">
                                </p>
                            </figure>
                            <div class="media-content">
                                <div class="field">
                                    <p class="control">
                                        <textarea class="textarea" ng-model="newReply" placeholder="Add a reply..."></textarea>
                                    </p>
                                </div>
                                <div class="field">
                                    <p class="control change-button-style">
                                        <button class="button is-danger" ng-click="submitReply(comment, newReply); newReply=''; ">Post reply</button>
                                    </p>
                                </div>
                            </div>
                        </article>
                        <hr style="border-top: dotted 1px;" />
                    </div>
                </article>
                <article class="media" ng-if="allowedAccess">
                    <figure class="media-left">
                        <p class="image is-64x64">
                            <img ng-src="{{curUser.profilepic}}">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="field">
                            <p class="control">
                                <textarea class="textarea" ng-model="newComment" placeholder="Add a comment..."></textarea>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control change-button-style">
                                <button class="button is-danger" ng-click="submitComment(newComment); newComment='';">Post comment</button>
                            </p>
                        </div>
                    </div>
                </article>
            </div>

            <!------------ Contributors ------------>
            <!-- <h3 class="title is-3 style-message-board">Contributor</h3> -->
            <article class="message is-medium working-message-change-bg-color2 box" ng-if="contributorActive">
                <div ng-repeat="contributer in contributers">
                    <!-- <div ng-if="curUser.id">
                        <div class="box is-fullwidth">
                            <div class="card-content">
                                <div class="polaroid-feed is-team">
                                    <a ng-href="/#!/account/{{contributer.id}}">
                                        <div class="polaroid-image change-polaroid-bg-color"> <img alt="" ng-src="{{contributer.profilepic}}" /> </div>
                                        <span class="polaroid-label">{{contributer.firstname}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-128x128 working-resize-img">
                                <a ng-href="/#!/account/{{contributer.id}}">
                                        <img ng-src="{{contributer.profilepic}}">
                                    </a>
                            </figure>
                            <br>
                            <strong><p>{{contributer.firstname}}</p></strong>
                        </div>
                        <!-- <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong ng-if="contributer.firstname">{{contributer.firstname}} {{contributer.lastname}}</strong>
                                    <strong ng-if="!contributer.firstname">{{contributer.username}}</strong>
                                </p>
                            </div>
                        </div> -->
                    </article>
                </div>
            </article>

            <!------------ Links ------------>
            <div class="box" ng-if="linksActive">
                <article class="message is-medium working-message-change-bg-color">
                    <div ng-repeat="link in links">
                        <a style="text-decoration: none" ng-href="{{link.link}}" target="_blank">
                            <p>{{link.linkname}}</p>
                        </a>
                    </div>
                    <br>
                    <form ng-submit="submitLink(newlinkname, newlink); newlinkname =''; newlink=''; ">
                        <div class="working-resize-input">
                            <input class="input" type="text" ng-model="newlinkname" placeholder="Enter link name here">
                            <br><br>
                            <input class="input" type="text" ng-model="newlink" placeholder="Enter link url here">
                            <br><br>
                            <input class="button is-danger" type="submit" value="Submit">
                    </form>
                </article>
                </div>

            </div>
        </div>
</section>


<br><br>

<h1 ng-if="!allowedAccess">PLEASE LOG IN</h1>