<section>
  <div class="container">
    <div class="working-container">
      <div class="columns">
        <div class="column is-one-third">To do:</div>



        <div class="column">
          <article class="message is-medium">
            <div class="message-header">
              <p>Summary: </p>
            </div>
            <div class="message-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla.Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus.
            </div>
          </article>

  </div>
</section>
