<section class="section profile">
    <div class="container">
        <div class="profile-heading">
            <div class="columns">
                <div class="column is-2 card">
                    <div class="image is-128x128 avatar">
                        <img ng-src="{{project.profilepic}}">
                    </div>
                    <div class="spacer"></div>
                    <span>
                <a class="button is-primary">Apply</a>

                <a class="button is-primary">Contact</a>
              </span>
                </div>
                <div class="column is-9 name">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <span class="title">{{project.title}}</span>
                                <br>
                                <a ng-href="/#!/account/{{project.posterid}}">{{project.username}}</a>
                            </p>
                            <p class="tagline">Project summary: {{project.description}}
                            </p>
                        </div>
                    </div>
                    <div id="meta" class="field is-grouped is-grouped-multiline">
                        <div class="control" ng-repeat="purple in project.skills track by $index">
                            <div class="tags has-addons">
                                <span class="tag is-info is-medium">{{purple}}</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="spacer"></div>
        <hr>
    </div>
</section>
<section class='section'>
    <div class="container">

    </div>
</section>