<footer class=app-footer>
    <div class=container>
        <div class="columns is-multiline is-mobile">
            <div class="column is-12-mobile is-4-tablet">
                <div class=closure>
                    <a href="/" class=is-inline-block title=DevGive>
                        <!-- LOGO -->
                    </a>
                    <hr class="spacer is-1" />
                    <p> &copy; 2017 Coding for Charity </p>
                    <hr class="spacer is-1-5" />
                    <p> The community for developers and non-profits.
                        <br>Good causes and developers representing the future. </p>
                    <hr class="spacer is-1-5" /> <img src="/img/svg/group/magic-wand.svg" /> </div>
            </div>
            <div class="column is-12-mobile is-2-tablet">
                <div class=menu>
                    <h3 class=menu-label> Sign up now </h3>
                    <ul class=menu-list>
                        <li> <a ui-sref="createAcount">Non-Profit</a> </li>
                        <li> <a ui-sref="createAcount">Developers</a> </li>
                    </ul>
                </div>
            </div>
            <div class="column is-12-mobile is-2-tablet">
                <div class=menu>
                    <h3 class=menu-label> About us </h3>
                    <ul class=menu-list>
                        <li> <a href="https://github.com/Codingforcharity">Press</a> </li>
                        <li> <a href="/team">Team</a> </li>
                    </ul>
                </div>
            </div>
            <div class="column is-12-mobile is-2-tablet">
                <div class=menu>
                    <h3 class=menu-label> Connect </h3>
                    <ul class=menu-list>
                        <li> <a href="https://github.com/Codingforcharity" target=_blank title="DevGive on Github">GitHub</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</footer>