<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">

  <!-- <div class="navbar-brand"> -->
  <!-- <a class="navbar-item" href="#">
            <img src="/bundle/img/DevGive-Blue-Logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
          </a> -->
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      &nbsp;&nbsp;
      <span class="icon">
                                    <i class="fa fa-laptop"></i>
                                  </span> &nbsp;&nbsp; DevGive
    </a>

    <a class="navbar-item is-hidden-desktop" href="https://github.com/jgthms/bulma" target="_blank">
            <span class="icon" style="color: #333;">
              <i class="fa fa-lg fa-github"></i>
            </span>
          </a>

    <a class="navbar-item is-hidden-desktop" href="#" target="_blank">
            <span class="icon" style="color: #55acee;">
              <i class="fa fa-lg fa-twitter"></i>
            </span>
          </a>

    <button class=" navbar-burger" data-target="navMenu">
    <span></span>
    <span></span>
    <span></span>
  </button>
  </div>
  <!-- Left side Nav bar links/menus begin -->
  <div id="navMenu" class="navbar-menu">
    <div class="navbar-start">

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link  is-active">
             Interal Views
            </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" ui-sref='projectFeed'>
                 Project Feed
                </a>
          <a class="navbar-item" ui-sref='accountDev'>
                    Dev Profile
                   </a>
          <a class="navbar-item" ui-sref='workingProject'>
                      Working Project View
                     </a>
          <a class="navbar-item" ui-sref='projectPublicDetails'>
                       Public project view
                     </a>
        </div>
      </div>
    </div>
    <!-- RIght side Nav bar links login begin -->
    <div class="navbar-end">
      <a class="navbar-item is-hidden-desktop-only" href="https://github.com/jgthms/bulma" target="_blank">
          <span class="icon" style="color: #333;">
            <i class="fa fa-lg fa-github"></i>
          </span>
        </a>
      <div class="navbar-item nav-buttons">
        <div class="field is-grouped">
          <p class="control">
            <a class="bd-tw-button button" href="/auth">
        <span class="icon">
          <i class="fa fa-sign-in"></i>
        </span>
        <span>
          Sign-In
        </span>
      </a>

          </p>
          <p class="control">
            <a class="button is-primary" ui-sref="createAccount">
                    <span class="icon">
                      <i class="fa fa-user-plus"></i>
                    </span>
                    <span>Sign-Up</span>
                  </a>
          </p>
        </div>
      </div>
    </div>
  </div>

</nav>
