<nav class="navbar navbar-home is-transparent header-image" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="#"><img src="/img/Artboard1.png" alt="DevGive" width="112" height="auto"></a>

        <button class="button is-danger navbar-burger burger" id="burger" data-target="navMenu" ng-click="toggleBurger()">
            <!-- Touch these spans and perish -->
            <span></span>
            <span></span>
            <span></span>
            <!-- Dont touch -->
        </button>
    </div>
    <!-- Left side Nav bar links/menus begin -->
    <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hidden-desktop is-hoverable">
                <!-- <a class="navbar-link is-active">Menu</a> -->
                <!-- <div class="navbar-dropdown is-boxed"> -->
                <!-- <a class="navbar-item" ui-sref='projectFeed'>
                             Project Feed
                            </a>
                    <a class="navbar-item" ui-sref='accountDev'>
                                User Profile
                               </a> -->
                <!-- <a class="navbar-item" ui-sref='workingProject'>
                                  Working Project View
                                 </a>
                    <a class="
                    navbar-item" ui-sref='projectPublicDetails'>
                                   Public project view
                                 </a> -->
                <!-- </div> -->
            </div>
            <a class="navbar-item" ui-sref='projectFeed'>
                        Project Feed
                       </a>
        </div>
        <!-- RIght side Nav bar links login begin -->
        <div class="navbar-end">
            <div class="navbar-item nav-buttons">
                <div class="field is-grouped">
                    <p class="control" ng-if="!curUser.id">
                        <a class="bd-tw-button button is-danger" href="/auth">
                            <span class="icon">
                      <i class="fa fa-sign-in"></i>
                    </span>
                            <span>
                      Sign-In
                    </span>
                        </a>
                    </p>
                    <p class="control" ng-if="!curUser.id">
                        <a class="button is-primary" href="/auth">
                            <span class="icon">
                                  <i class="fa fa-user-plus"></i>
                                </span>
                            <span>Sign-Up</span>
                        </a>
                    </p>
                    <p class="control" ng-if="curUser.id">
                        <a class="button is-danger" ui-sref="accountDev({id: {{curUser.id}}})">
                            <span class="icon">
                                      <i class="fa fa-user-plus"></i>
                                    </span>
                            <span>User Profile</span>
                        </a>
                    </p>
                    <p class="control" ng-if="curUser.id">
                        <a class="button is-primary" href="/auth/logout">
                            <span class="icon">
                                  <i class="fa fa-sign-out"></i>
                                </span>
                            <span>Sign-Out</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</nav>